name: Send PR Changes to Slack

on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed

jobs:
  # "build" workflow
  build:

    name: Build and Test Go Application
    #The type of runner on which job will run
    runs-on: ubuntu-latest

    # steps can run commands, setup tasks or run an action
    steps:

      - name: Checkout Source Code
        # action/checkout@v2 checks-out your repo under github workspace.
        uses: actions/checkout@v2
        with:
            ref: ${{ github.head_ref }}

      - name: Print Branch Name
        run: |
          # Fetch the branch name
          BRANCH_NAME=$(git rev-parse --abbrev-ref HEAD)

          # Print the branch name
          echo "Branch_Name: $BRANCH_NAME" >> "$GITHUB_ENV"

      - name: List Changed Files
        run: |
          # Navigate to the repository directory
          cd $GITHUB_WORKSPACE

          # Fetch the list of modified files
          echo "$BRANCH_NAME"
          CHANGED_FILES=$(git diff main..$BRANCH_NAME)

          # Print the list of changed files
          echo "Changed Files:"
          echo "$CHANGED_FILES"

  # "notify" workflow for slack notification
  notify:

    name: Notify on Slack
    runs-on: ubuntu-latest
    # Only run this workflow when "build" workflow succeeds
    needs: [build]

    # Only run this workflow if it target is main branch on pull_request event
    if: ${{ github.base_ref == 'main' && github.event_name == 'pull_request' }}

    steps:

      - uses: abinoda/slack-action@master
        env:
          # required
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          # custom message to send to slack
          args: '{\"channel\":\"test-alerts\",\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Pull Request:* ${{ github.event.pull_request.title }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Contributor :* ${{ github.event.pull_request.user.login }}\n*Request State:* ${{ github.event.pull_request.state }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"<${{ github.event.pull_request.html_url }}|View Pull Request>\"}}]}' 
        
        # Pick up events even if the job is success.
        if: success()
