name: Send PR Changes to Slack

on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed

jobs:
  send-to-slack:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Send PR Changes to Slack
      uses: rtCamp/action-slack-notify@v2.2.0  # Replace with the latest version
      with:
        status: ${{ job.status }}
        text: |
          Pull Request ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/pull/${{ github.event.pull_request.number }}:
          ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/compare/${{ github.event.before }}...${{ github.sha }}
          ${GITHUB_SERVER_URL}/${GITHUB_REPOSITORY}/actions/runs/${{ github.run_id }}
    - name: Send Notification to Slack
      env:
        SLACK_OAUTH_TOKEN: ${{ secrets.SLACK_OAUTH_TOKEN }}
      run: |
        slack/notify --token $SLACK_OAUTH_TOKEN --channel test-alerts --text "New commit pushed to main branch!"
