name: Send PR Changes to Slack

on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed

jobs:
  notify:
    name: Notify on Slack
    runs-on: ubuntu-latest

    if: ${{ github.base_ref == 'main' && github.event_name == 'pull_request' }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Print Branch Name
        id: get_branch
        run: |
          BRANCH=$(git rev-parse --abbrev-ref HEAD | tr -d '[:space:]')
          echo "BRANCH_NAME=$BRANCH" >> $GITHUB_ENV

      - name: List Changed Files
        id: get_outputs
        run: |
          echo "$BRANCH_NAME"
          CHANGED_FILE=$(git log --patch)
          {
            echo 'CHANGED_FILES<<EOF'
            echo ""
            git log --patch | grep -w "atlantis-integration"
            echo "$CHANGED_FILE" | grep -E "\-\-\-|\+\+\+"
            echo EOF
          } >> "$GITHUB_ENV"


      - name: Get Outputs
        run: |
          echo "$BRANCH_NAME \n $CHANGED_FILES"

      - name: Notify on Slack
        uses: abinoda/slack-action@master
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"test-alerts\",\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Pull Request:* ${{ github.event.pull_request.title }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Files Edited:* ${{ env.CHANGED_FILES }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Contributor :* ${{ github.event.pull_request.user.login }}\n*Request State:* ${{ github.event.pull_request.state }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"<${{ github.event.pull_request.html_url }}|View Pull Request>\"}}]}'
        if: success()
