name: Send PR Changes to Slack

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - closed

jobs:
  notify:
    name: Notify on Slack
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2

      - name: Print Branch Name
        id: get_branch
        run: |
          BRANCH=$(git rev-parse --abbrev-ref HEAD | tr -d '[:space:]')
          echo "BRANCH_NAME=$BRANCH" >> $GITHUB_ENV

      - name: List Changed Files
        id: get_outputs
        run: |
          echo "$BRANCH_NAME"
          echo ${{github.event.push.head_commit.message}}
          CHANGED_FILE=$(git log --patch)
          echo "$CHANGED_FILE"
          {
            echo 'CHANGED_FILES<<EOF'
            echo ""
            echo "$CHANGED_FILE" | grep -E "\+\+\+" | tr -d '+-'
            echo "$CHANGED_FILE" | grep -w "atlantis-integration" | tr -d '+-' | sed '1d'
            echo EOF
          } >> "$GITHUB_ENV"

      - name: Get Outputs
        run: |
          echo "$BRANCH_NAME \n $CHANGED_FILES"

      - name: Notify on Slack
        uses: abinoda/slack-action@master
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"test-alerts\",\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Pull Request:* ${{ github.event.push.head_commit.message }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Files Edited:* ${{ env.CHANGED_FILES }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Contributor :* ${{ github.event.push.head_commit.author.username }}\n*Request State:* ${{ github.event.push.compare }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"<${{ github.event.push.head_commit.url }}|View Pull Request>\"}}]}'
        if: success()
