name: Send PR Changes to Slack

on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed
      
jobs:
  build:
    name: Build and Test Go Application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Print Branch Name
        run: |
          # Fetch the branch name
          BRANCH=$(git rev-parse --abbrev-ref HEAD)

          # Set the branch name as an output variable
          echo "::set-output name=BRANCH_NAME::$BRANCH"

      - name: List Changed Files
        run: |
          # Fetch the list of modified files
          CHANGED_FILE=$(git log --patch)

          # Set the changed files as an output variable
          echo "::set-output name=CHANGED_FILES::$CHANGED_FILE"

  notify:
    name: Notify on Slack
    runs-on: ubuntu-latest
    needs: [build]

    if: ${{ github.base_ref == 'main' && github.event_name == 'pull_request' }}

    steps:
      - name: Get Outputs
        id: get-outputs
        run: echo "BRANCH_NAME=${{ needs.build.outputs.BRANCH_NAME }}\nCHANGED_FILES=${{ needs.build.outputs.CHANGED_FILES }}"

      - uses: abinoda/slack-action@master
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          args: >-
            {"channel":"test-alerts","blocks":[
              {"type":"section","text":{"type":"mrkdwn","text":"*Pull Request:* ${{ github.event.pull_request.title }}"}},
              {"type":"section","text":{"type":"mrkdwn","text":"*Files Edited:* ${ENV:CHANGED_FILES}"}},
              {"type":"section","text":{"type":"mrkdwn","text":"*Contributor :* ${{ github.event.pull_request.user.login }}\n*Request State:* ${{ github.event.pull_request.state }}"}},
              {"type":"section","text":{"type":"mrkdwn","text":"<${{ github.event.pull_request.html_url }}|View Pull Request>"}}
            ]}
        if: success()
