name: Send PR Changes to Slack

on:
  pull_request:
    types:
      - opened
      - synchronize
      - closed

jobs:
  notify:
    name: Notify on Slack
    runs-on: ubuntu-latest

    if: ${{ github.base_ref == 'main' && github.event_name == 'pull_request' }}

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Print Branch Name
        id: get_branch
        run: |
          BRANCH=$(git rev-parse --abbrev-ref HEAD | tr -d '[:space:]')
          echo "BRANCH_NAME=$BRANCH" >> $GITHUB_OUTPUT

      - name: List Changed Files
        id: get_outputs
        run: |
          CHANGED_FILE=$(git log --patch)
          echo "$CHANGED_FILE"
          echo "::set-output name=CHANGED_FILES::$CHANGED_FILE"

      - name: Get Outputs
        run: echo "${{ steps.get_branch.outputs.BRANCH_NAME}} \n ${{steps.get_outputs.outputs.CHANGED_FILES}}"

      - name: Iterate Over Lines
        id: iterate
        run: |
          IFS=$'\n'  # Set Internal Field Separator to newline
          for line in ${{ steps.iterate.outputs.CHANGED_FILES }}; do
            echo "Processing line: $line"
            # Add your logic for each line here
          done
      
      - name: Notify on Slack
        uses: abinoda/slack-action@master
        env:
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
        with:
          args: '{\"channel\":\"test-alerts\",\"blocks\":[{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Pull Request:* ${{ github.event.pull_request.title }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Files Edited:* ${{steps.get_outputs.outputs.CHANGED_FILES}}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"*Contributor :* ${{ github.event.pull_request.user.login }}\n*Request State:* ${{ github.event.pull_request.state }}\"}},{\"type\":\"section\",\"text\":{\"type\":\"mrkdwn\",\"text\":\"<${{ github.event.pull_request.html_url }}|View Pull Request>\"}}]}'
        if: success()
